// a higher number speeds up
$speed: 14;
$e-moon-molasses: $speed * 1;
$m-moon-molasses: $speed * 0.02;
$j-moon-molasses: $speed * 0.06;
$s-moon-molasses: $speed * .0001;
$u-moon-molasses: $speed * .0001;
$n-moon-molasses: $speed * .0001;
$p-moon-molasses: $speed * .0001;
$er-moon-molasses: $speed * .0001;

@-webkit-keyframes year {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 160deg);
            transform: rotate3d(0, 0, 1, 160deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
  }
}

@-webkit-keyframes neg-year {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }
}

// Convert orbital periods to small numbers
$mercury-deg:   87.97 / $speed;
$venus-deg:     224.63 / $speed;
$earth-deg:     365.26 / $speed;
$mars-deg:      687.05 / $speed;
$jupiter-deg:   4331.94 / $speed;
$saturn-deg:    10760.45 / $speed;
$uranus-deg:    30685.19 / $speed;
$neptune-deg:   60194.25 / $speed;
$pluto-deg:     90620.10 / $speed;
$eris-deg:      203447.79 / $speed;

// Luna
$e1-deg:        27.322 / $e-moon-molasses;
// Phobos, Deimos
$m1-deg:        0.319 / $m-moon-molasses;
$m2-deg:        1.263 / $m-moon-molasses;
// Io, Ganymede, Europa
$j1-deg:        1.769 / $j-moon-molasses;
$j2-deg:        3.551 / $j-moon-molasses;
$j3-deg:        7.155 / $j-moon-molasses;
// Pan, Daphnis, Atlas
$s1-deg:        0.575 / $s-moon-molasses;
$s2-deg:        0.594 / $s-moon-molasses;
$s3-deg:        0.602 / $s-moon-molasses;
// Cordelia, Ophelia, Bianca
$u1-deg:        0.335 / $u-moon-molasses;
$u2-deg:        0.3764 / $u-moon-molasses;
$u3-deg:        0.433 / $u-moon-molasses;
// Naiad, Thalassa, Galatea
$n1-deg:        0.3 / $n-moon-molasses;
$n2-deg:        0.31 / $n-moon-molasses;
$n3-deg:        0.33 / $n-moon-molasses;
// Charon, Nix, Hydra
$p1-deg:        6.387 / $p-moon-molasses;
$p2-deg:        24.856 / $p-moon-molasses;
$p3-deg:        38.206 / $p-moon-molasses;
// Dysnomia
$er1-deg:       14 / $er-moon-molasses;

// Convert orbital periods to animation timing in seconds
$mercury:       #{$mercury-deg}s;
$venus:         #{$venus-deg}s;
$earth:         #{$earth-deg}s;
$mars:          #{$mars-deg}s;
$jupiter:       #{$jupiter-deg}s;
$saturn:        #{$saturn-deg}s;
$uranus:        #{$uranus-deg}s;
$neptune:       #{$neptune-deg}s;
$pluto:         #{$pluto-deg}s;
$eris:          #{$eris-deg}s;

$e1:            #{$e1-deg}s;
$m1:            #{$m1-deg}s;
$m2:            #{$m2-deg}s;
$j1:            #{$j1-deg}s;
$j2:            #{$j2-deg}s;
$j3:            #{$j3-deg}s;
$s1:            #{$s1-deg}s;
$s2:            #{$s2-deg}s;
$s3:            #{$s3-deg}s;
$u1:            #{$u1-deg}s;
$u2:            #{$u2-deg}s;
$u3:            #{$u3-deg}s;
$n1:            #{$n1-deg}s;
$n2:            #{$n2-deg}s;
$n3:            #{$n3-deg}s;
$p1:            #{$p1-deg}s;
$p2:            #{$p2-deg}s;
$p3:            #{$p3-deg}s;
$er1:            #{$er1-deg}s;

.mercury .orbit    { -webkit-animation: year #{$mercury} linear infinite; }
.venus .orbit      { -webkit-animation: year #{$venus} linear infinite; }
.earth .orbit      { -webkit-animation: year #{$earth} linear infinite; }
.mars .orbit       { -webkit-animation: year #{$mars} linear infinite; }
.jupiter .orbit    { -webkit-animation: year #{$jupiter} linear infinite; }
.saturn .orbit     { -webkit-animation: year #{$saturn} linear infinite; }
.uranus .orbit     { -webkit-animation: year #{$uranus} linear infinite; }
.neptune .orbit    { -webkit-animation: year #{$neptune} linear infinite; }
.pluto .orbit      { -webkit-animation: year #{$pluto} linear infinite; }
.eris .orbit       { -webkit-animation: year #{$eris} linear infinite; }

.earth {
  .s_1             { -webkit-animation: year #{$e1} linear infinite;
          &:before { left: -16px;
                      background-color: lighten($clr-4, 5%); } }
}
.mars {
  .s_1             { -webkit-animation: year #{$m1} linear infinite;
          &:before { left: -16px; 
                     background-color: lighten($clr-5, 5%); } }
  .s_2             { -webkit-animation: year #{$m2} linear infinite;
          &:before { left: -32px;
                     background-color: lighten($clr-5, 5%); } }
}

.jupiter {
  .s_1             { -webkit-animation: year #{$j1} linear infinite;
          &:before { left: 0; 
                     background-color: lighten($clr-6, 5%); } }
  .s_2             { -webkit-animation: year #{$j2} linear infinite;
          &:before { left: -22px; 
                     background-color: lighten($clr-6, 5%); } }
  .s_3             { -webkit-animation: year #{$j3} linear infinite;
          &:before { left: -44px; 
                     background-color: lighten($clr-6, 5%); } }
}

.saturn {
  .s_1             { -webkit-animation: year #{$j1} linear infinite;
          &:before { left: -5px; 
                     background-color: $clr-6; } }
  .s_2             { -webkit-animation: year #{$j2} linear infinite;
          &:before { left: -30px; 
                     background-color: $clr-6; } }
  .s_3             { -webkit-animation: year #{$j3} linear infinite;
          &:before { left: -55px; 
                     background-color: $clr-6; } }
}

.uranus {
  .s_1             { -webkit-animation: year #{$j1} linear infinite;
          &:before { left: -5px; 
                     background-color: $clr-6; } }
  .s_2             { -webkit-animation: year #{$j2} linear infinite;
          &:before { left: -30px; 
                     background-color: $clr-6; } }
  .s_3             { -webkit-animation: year #{$j3} linear infinite;
          &:before { left: -55px; 
                     background-color: $clr-6; } }
}

.neptune {
  .s_1             { -webkit-animation: year #{$j1} linear infinite;
          &:before { left: -5px; 
                     background-color: $clr-6; } }
  .s_2             { -webkit-animation: year #{$j2} linear infinite;
          &:before { left: -30px; 
                     background-color: $clr-6; } }
  .s_3             { -webkit-animation: year #{$j3} linear infinite;
          &:before { left: -55px; 
                     background-color: $clr-6; } }
}

.pluto {
  .s_1             { -webkit-animation: year #{$j1} linear infinite;
          &:before { left: -5px; 
                     background-color: $clr-6; } }
  .s_2             { -webkit-animation: year #{$j2} linear infinite;
          &:before { left: -30px; 
                     background-color: $clr-6; } }
  .s_3             { -webkit-animation: year #{$j3} linear infinite;
          &:before { left: -55px; 
                     background-color: $clr-6; } }
}

.eris {
  .s_1             { -webkit-animation: year #{$j1} linear infinite;
          &:before { left: -5px; 
                     background-color: $clr-6; } }
}