////// Color Palette //////
$color-1:  #E7E0B7;
$color-2:  #c4b16f;
$color-3:  #bca46a;
$color-4:  #b49666;
$color-5:  #ac8962;
$color-6:  #a57b5d;
$color-7:  #9d6e59;
$color-8:  #956055;
$color-9:  #8d5350;
$color-10: #85454c;
$color-11: #723948;
$color-12: #5e3043;

$color-background:  #fff;
$color-text:        #4D2636;

