// $clr-1:  #ccbf73;
$clr-1:  #E7E0B7;
$clr-2:  #c4b16f;
$clr-3:  #bca46a;
$clr-4:  #b49666;
$clr-5:  #ac8962;
$clr-6:  #a57b5d;
$clr-7:  #9d6e59;
$clr-8:  #956055;
$clr-9:  #8d5350;
$clr-10: #85454c;
$clr-11: #723948;
$clr-12: #5e3043;

$clr-background: #fff;
$clr-text-light: #e8dec4;
$clr-text: rgba($clr-10, 0.4);