    <a href="#" id="contact" class="anchor-offset"></a>
    <footer class="site-footer" role="contentinfo">
        
      {% include contact.html %}      
      <section class="page-bottom">
        <div class="row">
          <div class="post_side colophon">
            <p>Built by <span class="vcard author fn"><a href="{{ site.url }}" rel="author">Zac Halbert</a></span>, <span class="updated">2015</span>.<br><a href="https://github.com/zachalbert/zachalbert.com_v6">The code for this site</a> is free to use under the <a href="http://opensource.org/licenses/MIT">MIT license</a>.</p>
          </div>
          <div class="post_main">
            <div class="row full around-xs social-bank">
              <div class="col-xs2"><a href="https://twitter.com/zachalbert" class="icon-twitter button"></a></div>
              <div class="col-xs2"><a href="https://dribbble.com/zachalbert" class="icon-dribbble button"></a></div>
              <div class="col-xs2"><a href="https://www.linkedin.com/in/zachalbert" class="icon-linkedin button"></a></div>
              <div class="col-xs2"><a href="https://github.com/zachalbert" class="icon-github button"></a></div>
              <div class="col-xs2"><a href="http://instagram.com/zachalbert" class="icon-instagram button"></a></div>
            </div>
          </div>
        </div>
      </section>

    </footer>

    <script src="/js/site.min.js"></script>    
  </body>
</html>