      <a href="#" id="about" class="anchor-offset"></a>
      <section>
        <div class="row">
          <div class="post_side">
            <div class="bio-pic" title="Zac Halbert"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><meta itemprop="name" content="Zac Halbert"></span></div>
          </div>
          <div class="post_main">
            <p>
              Hi, I'm Zac Halbert. I'm a digital product designer and lifelong learner living in San Francisco, California with my <a href="https://instagram.com/p/LqnU4XN7Rv">Wife Sheena and sheepdog Rufus</a>. I currently run the <a href="http://tradecrafted.com/">Product Design &amp; UX track at Tradecraft</a>, where we train smart people to succeed in traction roles at high-growth startups.
            </p>
            <p>
              I also own independent product design consultancy <a href="http://www.scouthawk.com/">Scout Hawk Product Design Studio</a>, where I help entrepreneurs turn hazy ideas into concrete digital products, and <a href="http://www.foliotwist.com/">Foliotwist</a>, a portfolio and marketing SaaS company for visual artists. I also advise a number of companies on the intersection of user experience design, product design and management, and rapid prototyping and idea validation that draws heavily from the <a href="http://www.amazon.com/The-Lean-Startup-Entrepreneurs-Continuous/dp/0307887898">Lean Startup</a> philosophy.
            </p>
            <p>
              My background is a mixture between formal graphic design and fine arts education, mixed with a long history of self-taught frontend programming skills. I began to learn HTML, CSS, and UI design at age 12 (I was a huge nerd), and got my first job as a web designer at age 15 &mdash; and have been doing it and loving it ever since. I eventually got my degree in graphic design, but have diverse interest in nearly every field that blends technical and creative work.
            </p>
            <p>
              While I'm not very good at keeping my <a href="/work">portfolio</a> or <a href="/">blog</a> up to date, I always love connecting with fellow designers, entrepreneurs, and developers. Here are just a fraction of the companies I've had the pleasure to work with.
            </p>
          </div>
          <div class="nascarification">
            <span class="nascar samahope" title="SamaHope"></span><span class="nascar samagroup" title="SamaGroup"></span><span class="nascar archively" title="Archively"></span><span class="nascar broadly" title="Broadly"></span><span class="nascar sharefund" title="ShareFund"></span><span class="nascar recurly" title="Recurly"></span><!-- <span class="nascar nomnommer" title="NomNommer"></span> -->
            <br><br>
            <a href="#contact"><i class="icon-arrow-down no-underline hover-bounce"></i>&nbsp;&nbsp;&nbsp;Interested in working together?</a>
          </div>
          <div class="text-center">
            
          </div>  
        </div>
      </section>