      <a href="#" id="about" class="anchor-offset"></a>
      <section>
        <div class="row">
          <div class="post_side">
            <div class="bio-pic" title="Zac Halbert"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><meta itemprop="name" content="Zac Halbert"></span></div>
          </div>
          <div class="post_main">
            <p>
              Hi, I'm Zac Halbert. I'm a digital product designer and lifelong learner living in San Francisco, California with my <a href="https://instagram.com/p/LqnU4XN7Rv">Wife Sheena and sheepdog Rufus</a>. I currently run the <a href="http://tradecrafted.com/">Product Design &amp; UX track at Tradecraft</a>, where we train smart people to succeed in traction roles at high-growth startups. I also own independent product design consultancy <a href="http://www.scouthawk.com/">Scout Hawk Product Design Studio</a> and <a href="http://www.foliotwist.com/">Foliotwist</a>, a portfolio and marketing SaaS company for visual artists. I also advise a number of companies on the intersection of user experience design, product management, and Lean Startup driven rapid prototyping.
            </p>
            <p>
              My background is a mixture between formal design and fine arts education, and self-taught UX, UI, and entrepreneurship. At age 12 I began learning to blend HTML, CSS, and UI elements created in Microsoft Paint to create hideous, late 90's geocities sites. I was instantly hooked. I kept practicing, and got my first full time web design job at age 15 designing and developing product pages for an aeronautics supply company. I built freelance websites all through highschool for snowboarding money, and all through college for backpacking money (where I had a penchant for extended, shoe-string, hair-raising adventures through China and SE Asia).
            </p>
            <p>
              I eventually strung my freelance gigs together into a proper independent consultancy based in Boise. During this time I also co-founded a lifestyle business and learned entrepreneurship "the hard way" (e.g. learning through failing). Fast forward to 2015, and I'm still in love with the energy, vision, and sense of social responsibility that many startup people have. While living in San Francisco isn't necessary for a product designer, it does afford me an unreasonable number of opportunities to rub elbows with insanely smart people I can learn a lot from.
            </p>
            <p>
              In the future, my ambition is always remember how fortunate I am to have had access to the web from such a young age, and to use the thousands of hours I've put into honing this craft for the good of others. I believe that technology can make things better, but it's also important to acknowledge that it can make things worse (for instance, rapid overgentrification by overpaid 20-something DINKs, and the heartbreaking sexism prevalent in some company cultures). It's incumbent on us to fix these problems since we're responsible for them. In any case, the process of solving them with smart people is both a joy and a privelege.
            </p>
            <p>
              Here are just a few great companies I've had the pleasure to work with.
            </p>
          </div>
          <div class="nascarification">
            <span class="nascar samahope" title="SamaHope"></span><span class="nascar samagroup" title="SamaGroup"></span><span class="nascar archively" title="Archively"></span><span class="nascar broadly" title="Broadly"></span><span class="nascar sharefund" title="ShareFund"></span><span class="nascar recurly" title="Recurly"></span><!-- <span class="nascar nomnommer" title="NomNommer"></span> -->
            <br><br>
            <a href="#contact"><i class="icon-arrow-down no-underline hover-bounce"></i>&nbsp;&nbsp;&nbsp;Interested in working together?</a>
          </div>
          <div class="text-center">
            
          </div>  
        </div>
      </section>