      <a href="#" id="about" class="anchor-offset"></a>
      <section>
        <div class="row">
          <div class="post_side">
            <div class="bio-pic" title="Zac Halbert"></div>
          </div>
          <div class="post_main">
            <p>
              Hi, I'm Zac Halbert. I'm a digital product designer living in San Francisco, California with my Wife Sheena and sheepdog Rufus. I own independent product design consultancy <a href="http://www.scouthawk.com/">Scout Hawk Product Design Studio</a>.
            </p>
            <p>
              I build user-facing applications and webites for technology companies, especially startups aiming to make a meaingful, positive impact on everyone. My focus is on early stage products, making strategic vision a reality, and advising technical teams in need of creative direction.
            </p>
            <p>
              I've been fortunate enough to work with really talented people at some amazing companies.
            </p>
          </div>
          <div class="nascarification">
            <span class="nascar samahope" title="SamaHope"></span><span class="nascar samagroup" title="SamaGroup"></span><span class="nascar archively" title="Archively"></span><span class="nascar broadly" title="Broadly"></span><span class="nascar sharefund" title="ShareFund"></span><span class="nascar recurly" title="Recurly"></span><!-- <span class="nascar nomnommer" title="NomNommer"></span> -->
            <br><br>
            <a href="#contact"><i class="icon-arrow-down no-underline hover-bounce"></i>&nbsp;&nbsp;&nbsp;Interested in working together?</a>
          </div>
          <div class="text-center">
            
          </div>  
        </div>
      </section>