      <section>
        <div class="row">
          <div class="post_side">
            <h2>Get in touch</h2>
          </div>
          <div class="post_main">
            <form method="post" action="//formspree.io/hi@scouthawk.com" id="contact-form">
              <input class="float-label" type="text" placeholder="Your name" name="name" id="name">
              <input class="float-label" type="email" placeholder="Your email" name="email" id="email">

              <textarea class="float-label" placeholder="Your message" name="message" rows="3"></textarea>
              <input type="checkbox" checked="checked" name="subscribe" id="subscribe"><label for="subscribe">Get occasional, high quality product design tips delivered to your inbox</label>
              <input type="hidden" name="_subject" value="New contact" />
              <input type="hidden" name="_next" value="{{  site.url }}/thanks" />
              <input type="text" name="_gotcha" style="display:none" />
              <input type="submit" class="button button-primary no-margin-bottom" value="Send">
            </form>
          </div>
        </div>
      </section>
