            <section class="subscribe">
              <div class="post post-single">
                <div class="aside">
                  <div class="inner">
                    <h2 class="h1">Learning Product Design</h2>
                    <h2>Get tips and tricks to turn your idea into a reality</h2>
                  </div>
                </div>
                <p class="top">
                  This occasional newsletter (sent no more than once a month) is filled with techniques for people who want to learn how to turn their digital product ideas into <em>usable</em> prototypes to show to potential customers, investors, or business partners. Prior design experience not required.
                </p>
                <div class="col-main">
                  <div id="mc_embed_signup">
                    <form action="//scouthawk.us9.list-manage.com/subscribe/post?u=c4b60de481b3f58170b708c04&amp;id=44da977ada" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div class="row full" id="mc_embed_signup_scroll">
                        <div id="mce-responses" class="clear">
                          <div class="response error" id="mce-error-response" style="display:none"></div>
                          <div class="response success" id="mce-success-response" style="display:none"></div>
                        </div>
                        <div class="col-xs-12 mc-label">
                          <label for="mce-EMAIL" class="text-left">Your Email (No spam &mdash; promise)</label>
                        </div>
                        <div class="col-xs-12 col-sm-8 mc-text">
                          <input type="email" value="" name="EMAIL" class="required email no-margin-bottom" id="mce-EMAIL" placeholder="Email Address" required>
                          <div style="position: absolute; left: -5000px;"><input type="text" name="b_c4b60de481b3f58170b708c04_44da977ada" tabindex="-1" value=""></div>
                        </div>
                        <div class="col-xs-12 col-sm-4 mc-submit">
                          <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button button-primary"><span>Subscribe</span></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </section>
