            <div class="aside">
              <div class="inner">
                <h1 class="hyphenate">Prototyping for DIY entrepreneurs</h1>
                <h2>An occasional bag-o-tricks filled with tips and guides on prototyping your app or website</h2>
              </div>
            </div>
            <p class="top">
              The product design prototyping newsletter is an occasional email I send with tips and techniques for people who want to learn <em>just enough</em> about prototyping apps and websites to demonstrate to potential customers, investors, or business partners. It'll help you test your ideas in a small, safe environment. Prior design experience not required.
            </p>
            <form>
              <p>
                <span class="inline-block" style="width: 59%;"><label for="newsletter_email">Your Email (No spam &mdash; promise)</label><input type="text" name="newsletter_email" id="newsletter_email"></span>
                <span class="inline-block" style="width: 30%; margin-left: 10%;"><input type="submit" class="button button-primary"></span>
              </p>
            </form>