            <section>
            <div class="aside">
              <div class="inner">
                <h1 class="hyphenate">Prototyping for DIY Entrepreneurs</h1>
                <h2>An occasional bag-o-tricks filled with tips and guides on prototyping your app or website</h2>
              </div>
            </div>
            <p class="top">
              The product design prototyping newsletter is an occasional email I send with tips and techniques for people who want to learn <em>just enough</em> about prototyping apps and websites to demonstrate to potential customers, investors, or business partners. It'll arm you with tools to test your ideas in controlled environments. Prior design experience not required.
            </p>
            <div class="col-main">
              <div id="mc_embed_signup">
                <form action="//scouthawk.us9.list-manage.com/subscribe/post?u=c4b60de481b3f58170b708c04&amp;id=44da977ada" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div class="row full" id="mc_embed_signup_scroll">
                    <div class="col-xs-12 no-padding-left">
                      <label for="mce-EMAIL" class="text-left">Your Email (No spam &mdash; promise)</label>
                    </div>
                    <div class="col-sm-8 no-padding-left">
                      <input type="email" value="" name="EMAIL" class="email no-margin-bottom" id="mce-EMAIL" placeholder="Email Address" required>
                      <div style="position: absolute; left: -5000px;"><input type="text" name="b_c4b60de481b3f58170b708c04_44da977ada" tabindex="-1" value=""></div>
                    </div>
                    <div class="col-sm-4 no-padding-right">
                      <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button button-primary"><span>Subscribe</span></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            </section>