
      <div class="nav-wrapper">
        <a href="{{ site.url }}" class="logo" title="{{ site.name }}">
          <img src="/images/zachalbert-logo.svg" width="192" height="198" alt="ZacHalbert.com">
        </a>
        <nav class="site-nav" role="navigation">
          <div class="row middle-xs">
            <div class="col-xs-12 col-sm-5 col-md-4">
              <a href="#page" class="link-to-top icon-arrow-up button"></a>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8">
              <div class="link-bank">
                <a href="https://dribbble.com/zachalbert" target="_blank">Portfolio</a><a href="/#about" class="about">About</a><a href="#contact" class="contact">Contact me</a>
              </div>
            </div>
          </div>
        </nav>

        <div class="mask">
          <div class="mask-inner">

            <div class="site-nav-bg">
              <div class="logo-bg">
                <img src="/images/zachalbert-logo-bg.svg" width="192" height="198" alt="ZacHalbert.com">
              </div>            
            </div>

          </div>
        </div>
              
      </div>