body,
.site-nav {
  min-width: $screen-min-width;
}

@media #{$min-480} {
  
  .galaxy {
    height: 80%;
  }

  .separator {
    &.left {
      margin-left: $lead-single;
    }
  }

  .pagination {
    .button {
      padding-left: $lead-single;
      padding-right: $lead-single;

      [class*="icon-"] {
        display: inline-block;
      }
    }
  }

  .button {
    &.text-button {
      padding-left: $lead-single;
      padding-right: $lead-single;
    }
  }

  .post-social {
    li {
      display: inline-block;
      margin: 0 $lead-half 0 0;
    }
  }

  .link-bank {
    a {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  figure iframe {
    min-height: 25em;
  }

  .bio-pic {
    width: 35%;
    padding-top: 35%;
  }
}

@media #{$min-640} {
  
  .galaxy {
    height: 90%;
  }

  .description-holder {
    background: none;
  }

  .post_side {
    text-align: right;
  }
  
  .aside .inner,
  figcaption {
    position: absolute;
    text-align: right;
    width: 100%;
    padding-left: $lead-half;
  }

  .aside {
    margin-bottom: 0;
  
    .inner {
      .sub {
        text-align: right;
      }

      h1,
      h2,
      .sub,
      p,
      ul,
      ol {
        padding-right: $half-gutter-width;
      }
    }
  }

  .header-link {
    right: -5px;
  }

  .post-single .body h2 {
    margin-top: -$lead-double;
    top: $lead-double;
    text-align: right;
  }

  blockquote {
    figcaption {
      margin-top: $lead-half;
      position: relative;
    }
  }

  figure {
    img {
      margin-bottom: $lead-double;
    }
  }
  
  .post-date {
    text-align: right;
    margin-top: -$lead-single;
  }

  .bio-pic {
    right: -40%;
    margin: 0;
    width: 50%;
    padding-top: 50%;
  }

  figure iframe {
    min-height: 30em;
  }
}

@media #{$min-768} {
  
  .row {
    width: 90%;
  }

  .nascar {
    min-height: $lead-quadruple;
  }

  .post_side {
    padding-left: 0;
  }

  .post_main,
  .col-main {
    padding-right: 0;
  }

  blockquote {
    font-size: $font-size-2;
  }

  .link-to-top-wrap {
    display: block;
  }

  .link-bank {
    a {
      padding: $line-height + 2px;
      position: relative;
      top: $lead-half;
    }
  }

  .post-social {
    li {
      margin-right: $lead-single;
    }
  }

  .aside {
    .inner {
      padding-left: 0;
    }
  }

  .nav-wrap {
    .link-bank {
      a:first-child {
        margin-left: -$lead-single;
      }
    }
  }
}

@media #{$min-1024} {

  .galaxy {
    height: 100%;
  }

  .nascar {
    min-height: $lead-quintuple;
  }

  #portfolio {
    a {
      padding: $lead-double;
    }
  }

  .row {
    width: 85%;
  }

  figure iframe {
    min-height: 40em;
  }
  
}

@media #{$min-1200} {
  .row {
    width: 80%;
    max-width: 1200px;
  }

    #portfolio {
    a {
      padding: $lead-double + 6;
    }
  }
}