body {
  min-width: $screen-min-width;
}

@media #{$min-480} {

}

@media #{$min-640} {
  
  body {
  }

  .row {
    width: 90%;
  }
  
  .aside .inner,
  figcaption {
    position: absolute;
    text-align: right;
    width: 100%;
  }

  .aside {
    margin-bottom: 0;
  
    .inner {
      .sub {
        text-align: right;
      }

      h1,
      h2,
      .sub,
      p,
      ul,
      ol {
        padding-right: $half-gutter-width;
      }
    }
  }

  blockquote {
    figcaption {
      margin-top: $lead-half;
      position: relative;
    }
  }

  figure {
    img {
      margin-bottom: $lead-double;
    }
  }
  
  .post-date {
    text-align: right;
    margin-top: -$lead-single;
  }

  .post_side {
    text-align: right;
  }
}

@media #{$min-768} {
  
  .row {
    width: 80%;
  }

  blockquote {
    font-size: $font-size-2;
  }

  .link-to-top-wrap {
    display: block;
  }

  .link-bank {
    a {
      padding: $line-height + 2px;
    }
  }
}

@media #{$min-1024} {

  #portfolio {
    a {
      padding: $lead-double;
    }
  }
  
}

@media #{$min-1200} {
  .row {
    width: 75%;
  }

    #portfolio {
    a {
      padding: $lead-double + 6;
    }
  }
}