body {
  min-width: $screen-min-width;
}

@media #{$min-480} {
  .social-bank {
    margin-left: 0;
  }
}

@media #{$min-640} {
  
  body {
  }

  .row {
    width: 90%;
  }

  .post-aside .inner,
  figcaption {
    position: absolute;
    text-align: right;
    width: 100%;
  }

  .post-aside {
    margin-bottom: 0;
  
    .inner {
      .sub {
        text-align: right;
      }

      h1,
      h2,
      .sub {
        padding-right: $half-gutter-width;
      }
    }
  }

  blockquote {
    figcaption {
      margin-top: $lead-half;
      position: relative;
    }
  }

  figure {
    img {
      margin-bottom: $lead-double;
    }
  }
  
  .post-date {
    text-align: right;
    margin-top: -$lead-single;
  }
}

@media #{$min-768} {
  
  .row {
    width: 80%;
  }
}

@media #{$min-1024} {
  
  .row {
    width: 75%;
  }
}

@media #{$min-1200} {
  .row {
    width: 65%;
  }
}