form {
  width: 100%;
}

input,
textarea {
  width: 100%;
  margin: 0 0 $lead-single;
  padding: 0.7em $font-size-1;
  border: 1px solid darken($color-footer, 20%);
  border-radius: 2px;
  background: #fff;
  color: $color-text;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 1em;
  border: 1px solid darken($color-footer, 20%);
}

input[type="checkbox"] {
  margin: 0;
  width: auto;
  padding: 0;

  & + label {
    float: right;
    width: 94%;
    text-align: left;
    margin-bottom: $lead-single;
  }
}

label {
  @extend .meta-text;
  cursor: pointer;
}

.label-floatlabel {
  font-weight: normal !important;
  left: 0 !important;
  color: $color-1 !important;
}