input,
textarea {
  width: 100%;
  margin: 0 0 $lead-single;
  padding: 0.7em $font-size-1;
  border: 1px solid darken($color-footer, 20%);
  border-radius: 2px;
  background: #fff;
  color: $color-text;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 1em;
  border: 1px solid darken($color-footer, 20%);
}
