/*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^
*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^* BASE
^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*/

body {
  background: $color-background;
  color: $color-text;
}

html, body {
  width: 100%;
  height: 100%;
}

.paused { 
  .orbit,
  .satellite {
    -webkit-animation-play-state: paused !important;
    animation-play-state: paused !important;
  }
  
  .orrry-description .icon-pause-filled {
    border-color: #fff;
    background: #fff;
    color: #5e3043;
  }
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

a,
a:visited {
  color: $color-link;
  text-decoration: underline;
  transition: $transition-out;
}

a:hover,
a:active {
  color: $color-link-hover;
  transition: $transition-in;
  text-decoration: none;

  .hover-bounce {
    position: relative;
    top: 0.2em;
    transition: $transition-in;
  }
}

a:active {
  transform: scale(0.97);
  display: inline-block;
}

a[href^="#"] {
  outline: 0;
}

.anchor-offset {
  display: inline;
  position: relative;
  top: -$nav-height;
  left: 0;
  width: 0;
  height: 0;
}

hr {
  width: 100%;
  margin: $lead-triple 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-width: 4px 0 0 0;
  @extend .site-border;
}

.no-padding {
  padding: 0;
}

.align-left {
  float: left;
  margin: $lead-half $lead-single $lead-single 0;
}

.align-right {
  float: right;
  margin: $lead-half 0 $lead-single $lead-single;
}

.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }

.no-margin-bottom { margin-bottom: 0; }

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-hide {
  text-indent: -99999px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.no-underline {
  text-decoration: none !important;
}

.page-bottom {
  margin-bottom: 0;
  padding-bottom: $lead-triple;
}

.bare {
  margin: 0 !important;
  padding: 0 !important;
}

.color-text {
  color: $color-text;
}

.img-border {
  border: 1px solid $color-text;
  border-radius: $border-radius;
}

img {
  vertical-align: bottom;
}

::-moz-selection {
  background: $color-selection-bg;
  color: $color-selection;
}

::-webkit-selection {
  background: $color-selection-bg;
  color: $color-selection;
}

::selection {
  background: $color-selection-bg;
  color: $color-selection;
}

/*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^
*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^* LAYOUT
^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*/

section {
  margin-bottom: $lead-triple;

  & > .row {
    border-top: $site-border;
    padding-top: $lead-triple;
  }
}

.row {
  width: 90%;
  margin: 0 auto;

  &.full {
    width: 100%;
    height: 100%;
  }
}

.__fixed {
  .mask {
    position: fixed;
  }
}

.__top {
  .link-bank a {
    color: $color-link;
  }
  
  .link-to-top.button {
    transform: rotate(0deg);
    transition: all 0.35s ease-in-out;

    &:hover {
      transform: rotate(0deg) scale(0.95);
      color: #fff;
      transition: all 0.35s ease-in-out;
    }

    &:active {
      transform: rotate(0deg) scale(0.85);
      transition: all 0.35s ease-in-out;
    }
  }
}

.mask {
  position: absolute;
  height: $nav-height;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
}

.mask-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;
}

.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: $nav-height;
  width: 100%;
  z-index: 11;

  & > div {
    height: 100%;
  }
}

.site-nav-bg {
  background: #fff;
  width: 100%;
  height: $nav-height;
  border-bottom: 1px solid lighten($color-link, 25%);
  box-sizing: border-box;
}

.logo {
  z-index: 12;

  &:active {
    & ~ .mask .logo-bg {
      transform: scale(0.95);
      transition: $transition-in;
    }
  }
}

.logo-bg {
  transition: $transition-out;
}

.logo,
.logo-bg {
  position: fixed;
  height: $nav-height;
  width: $nav-height;
  top: 0;
  left: 0;
  padding: 1em;
  box-sizing: border-box;
}

.link-bank {
  a {
    padding: ($line-height + 2px) 18px;
    transition: all 0.35s ease-in-out;

    &:first-child {
      margin-left: -$line-height;
    }

    &.active {
      background: $color-link;
      color: #fff;
      text-decoration: none;
    }
  }
}

.__nav-link {
  .link-bank a {
    color: #fff;
  }
  
  .link-to-top.button {
    color: #fff;
    border-color: #fff;
  }
}

.social-bank {
  a.button {
    margin: 0;
    display: block;

    &:hover:after {
      background: $color-1;
      border-color: $color-1;
    }
  }
}

.site-main {
  padding: $lead-quadruple 0 0;
  position: relative;
}

section:first-child {
  .row {
    border-top: none;
    padding-top: 0;
  }  
}

// Side:    col-xs-12 col-sm-5 col-md-4 side-column
// Main:    col-xs-12 col-sm-7 col-md-8 main-column

.col-side,
.post_side {
  @extend .col-xs-12;
  @extend .col-sm-5;
  @extend .col-md-4;
}

.col-main {
  @extend .col-xs-12;
  @extend .col-sm-offset-5;
  @extend .col-sm-7;
  @extend .col-md-offset-4;
  @extend .col-md-8;
}

.post_main {
  @extend .col-xs-12;
  @extend .col-sm-7;
  @extend .col-md-8;
}

.post_side {
  text-align: left;
}

.post {
  @extend .row;
  position: relative;

  &.post-single {
    h3,
    p,
    ul,
    ol {
      @extend .col-main;
      display: block;
    }
  }
}

.post-single .body h2 {
  @extend .col-side;
  display: block;
  text-align: right;
  position: relative;
  margin-top: -$lead-double;
  top: $lead-double;

  &:hover .header-link {
    opacity: 1;
  }
}

.header-link {
  display: block;
  position: absolute;
  right: -5px;
  color: $color-link;
  opacity: 0;
  text-decoration: none;
}

.grid_main,
.grid_meta {
  @extend .col-xs-12;
}

.post_main-meta {
  height: $lead-triple;

  .post-date {
    margin: 0;
    padding: 0;
    text-align: right;
  }
}

.separator {
  line-height: $line-height;
  text-align: center;
  position: relative;

  &.left {
    margin: 0 $lead-half;
  }

  &:after {
    content: '';
    width: $lead-half;
    height: $lead-half + 1px;
    border: 1px solid $color-link;
    position: absolute;
    top: 0;
    left: -100%;
    border-radius: 50%;
  }
}

// Side
.aside,
figcaption {
  @extend .col-side;
  text-align: left;
  position: relative;
  margin-bottom: $lead-single;
}

.aside {
  .meta-text {
    text-align: left;
  }

  .inner {
    position: relative;
    left: 0;
    width: 100%;

    h1,
    h2,
    h3,
    p,
    .meta-text {
      padding-right: $half-gutter-width;
      display: block;
    }

    .meta-text {
      position: relative;
      top: 3px;
    }
  }
}

.subtitle {
  @extend .col-side;
  display: block;
  text-align: right;
  position: relative;
  margin-top: -$lead-double;
  top: $lead-double;
}

figcaption {
  @extend .meta-text;
  color: $color-text-light;
  padding-left: 0;
  font-style: normal;
}

figure {
  img,
  iframe {
    margin: 0 0 $lead-single;
  }
}

a.thumbnail {
  text-align: left;
  margin-bottom: $lead-double;
  display: block;

  img {
    border: 1px solid $color-text;
    margin-bottom: $lead-half;
  }

  &:hover {
    img {
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ul,
ol {
  margin-left: 0;

  li {
    margin: 0 0 $lead-half $lead-single;
  }
}

#portfolio {
  margin: 0;

  a {
    width: 33.3%;
    margin: 0;
    box-sizing: border-box;
    padding: $lead-single + 4;
    display: block;
    float: left;

    &:hover {

    }
  }

  img {
    width: 100%;
    display: inline-block;
  }
}

.nascarification {
  width: 100%;
  margin-bottom: $lead-single;
  text-align: center;
}

.nascar {
  &.recurly {
    background-image: url('/images/nc-recurly.png');
  }
  &.samahope {
    background-image: url('/images/nc-samahope.png');
  }
  &.samagroup {
    background-image: url('/images/nc-samagroup.png');
  }
  &.nomnommer {
    background-image: url('/images/nc-nomnommer.png');
  }
  &.broadly {
    background-image: url('/images/nc-broadly.png');
  }
  &.sharefund {
    background-image: url('/images/nc-sharefund.png');
  }
  &.archively {
    background-image: url('/images/nc-archively.png');
  }
  
  display: inline-block;
  min-width: 27%;
  min-height: 130px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.25;
  margin: 3%;
  box-sizing: border-box;
}

.post-date {
  @extend .meta-text;
  padding: 0 $half-gutter-width;
  display: block;
  width: 100%;
  position: relative;
  margin: 0 0 $lead-single;
  text-align: left
}

p.top {
  padding-top: $lead-single;
}

.panel {
  min-height: $lead-single * 7;
}

.main-column {
  padding-top: $lead-single;
  position: relative;

  .meta-text:first-child {
    margin: -$line-height 0 0;
  }
}

/*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^
*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^* MODULES
^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*^*/

#about + section {
  background: $color-text;
  color: $color-footer-text;
  background-size: cover;
  margin-bottom: 0;

  .row {
    border-top: none;
    padding: $lead-triple 0;
  }
}

#about-nav a {
  color: #fff;
}

.post_main-content {
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: $lead-triple;
    background: linear-gradient(to bottom, rgba(white,0), white);
    display: block;
    position: absolute;
    bottom: $lead-single;
    left: 0;
    pointer-events: none;
  }
}

.description-holder {
  opacity: 0;
  padding-bottom: 1px;
  z-index: 12;

  a {
    color: #fff;
    border-color: #fff;
  }

  p a:hover {
    color: #fff;
  }
}

.orrry-description {
  color: #fff;
  text-align: right;
  height: 100%;
  position: relative;
  
  & > div {
    height: 100%;
  }

  a {
    color: #fff;
    border-color: #fff;

    &:after {
      background: rgba(#fff, 0);
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-color: #fff;
      color: $color-12;

      &:after {
        background: rgba(#fff, 1);
        border-color: rgba(#fff, 1);
      }

      &.icon-pause:before {
        content: 'f';
      }

      &.icon-information:before {
        content: 'k';
      }
    }
  }
}

.label {
  @include transition(opacity, 0.3s, ease-in);
  @extend .meta-text;
  color: $color-text;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.45em 1.25em;
  background: rgba($color-background, 0.65);
  border-radius: $border-radius;
  font-weight: 100;
  z-index: 100;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  opacity: 0;
  display: none;

  .symbol {
    margin-right: 1em;
  }
}

.label-floatlabel {
  color: $color-footer-text !important;
}

.button {
  padding: $font-size-05 + 2;
  border-radius: $lead-single * 2;
  border: 1px solid $color-link;
  background: transparent;
  text-decoration: none;
  text-align: center;
  position: relative;
  transition: $transition-out;
  line-height: $scale;

  span {
    position: relative;
    z-index: 2;
  }

  &:after {
    content: '';
    display: block;
    background: rgba($color-link-hover, 0);
    border: 1px solid rgba($color-link-hover, 0);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1px;
    top: -1px;
    border-radius: $lead-single * 2;
    transform: scale(0.4);
    transition: $transition-out;
    opacity: 0;
  }

  &:before {
    position: relative;
    z-index: 2;
  }

  &:hover {
    color: #fff;
    transform: scale(0.98);
    transition: $transition-in;
    border-color: $color-link-hover;

    &:after {
      background: rgba($color-link-hover, 1);
      border-color: rgba($color-link-hover, 1);
      transform: scale(1);
      transition: $transition-in;
      opacity: 1;
    }
  }

  &:active {
    transform: scale(0.96);
  }

  &.button-primary {
    color: #fff;
    border-color: $color-link;
    background: $color-link;

    &:hover {
      color: #fff;
      background: $color-link-hover;
      border-color: $color-link-hover;
    }
  }

  &.text-button {
    padding-left: $lead-half/2;
    padding-right: $lead-half/2;

    &:hover,
    &:active {
      color: #fff;

      &:after {
        z-index: -1;
      }
    }
  }

  & [class*="icon-"] {
    margin: 0 1em;
    position: relative;
    top: 1px;
  }

  &.disabled {
    color: $color-text-light;
    border: 1px solid $color-text-light;
    background: lighten($color-text-light, 20%);
    cursor: default;

    &:hover,
    &:active {
      color: $color-text-light;
    border: 1px solid $color-text-light;
    background: lighten($color-text-light, 20%);
      cursor: default;
      transform: scale(1);

      &:after {
        display: none;
      }
    }
  }
}

.page-number {
  color: $color-text-light;
  text-align: center;
  font-style: italic;
}

.page-separator {
  font-size: 2em;
  position: relative;
  top: 0.25em;
  padding: 0 0.25em;
  color: lighten($color-text-light, 10%);
}

.post-social {
  a {
    float: left;

    &:first-child {
    }
  }
}

p + .post-social {
  padding-top: $lead-single;
}

[class*="icon-"] {
  &.button {
    padding: ($font-size-05 + 1px) $font-size-05 ($font-size-05 - 1px);
    width: $line-height;
    display: inline-block;
    margin-right: 4%;

    &:hover {
      transform: scale(0.95);
    }

    &:active {
      transform: scale(0.85);
    }
  }

  &.icon-small.button {
    padding: ($font-size-05 + 1px) $font-size-05 ($font-size-05 - 1px);
    width: $line-height / 2;
    line-height: 1;

    &:before {
      font-size: 0.8em;
    }
  }
}

.link-to-top.button {
  position: absolute;
  top: $font-size;
  right: $font-size;
  margin: 0;
  transform: rotate(-180deg);
  transition: all 0.35s ease-in-out;
  color: $color-link;
  border-color: $color-link;

  &:hover {
    transform: rotate(-180deg) scale(0.95);
    transition: all 0.35s ease-in-out;
  }

  &:active {
    transform: rotate(-180deg) scale(0.85);
    transition: all 0.35s ease-in-out;
  }
}

.link-to-top-wrap {
  display: none;
}

.link-list {
  li {
    list-style: none;
  }

  a {
    display: block;
    position: relative;

    &.active {
      &:after {
        content: '\2022';
        color: #fff;
        display: block;
        position: absolute;
        text-decoration: none;
        right: -1em;
        top: 0;
      }
    }
  }
}

.bio-pic {
  background: url('/images/photo-zac-halbert.jpg');
  background-size: 100%;
  background-position-y: -5px;
  border-radius: 50%;
  width: 60%;
  height: 0;
  padding: 60% 0 0;
  position: relative;
  margin: 0 auto $lead-double;
  box-sizing: border-box;
  border: 5px solid $color-footer-text;
}

.excerpt-action {
  text-align: right;
}

.site-footer {
  background: $color-footer;
  color: $color-footer-text;
  padding-top: $lead-triple;
  box-sizing: border-box;

  [class*="icon"],
  a {
    color: $color-footer-link;
    border-color: $color-footer-link;

    &:hover {
      color: $color-footer-link-hover;
      border-color: $color-footer-link-hover;

      &:after {
        color: $color-footer-link-hover;
        border-color: $color-footer-link-hover;
      }
    }
  }

  [class*="icon"] {
    &:hover {
      color: $color-footer;

      &:after {
        background: $color-footer-link-hover;
        border-color: $color-footer-link-hover;
      }
    }
  }

  label {
    color: $color-footer-text;
  }

  section>.row {
    border-color: $color-text;
  }
}

.colophon {
  @extend .meta-text;
  color: $color-1;
}

.alert {
  display: block;
  padding: $lead-single;
  background: $color-background-light;
  border-radius: $border-radius;
  border: 1px solid $color-border;
}

blockquote.twitter-tweet {
  @extend .col-main;
  display: inline-block;
  padding: $lead-single !important;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font-size: $font-size-2;
  text-transform: none;
  letter-spacing: 0;
  text-align: left;
}
 
.post.post-single blockquote.twitter-tweet p {
  width: 100%;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  margin-left: 0;
  padding: 0;

  &:last-child {
    font-size: $font-size;
    text-align: right;
    margin-bottom: 0;
    position: relative;

    &:before {
      font-family: "zachalbertcom-v6";
      content: 'a';
      display: block;
      font-size: $font-size-2;
      color: $color-text-light;
      position: absolute;
      bottom: 0;
      left: 0;
      padding-right: $font-size;
    }
  }
}