// Return px fallback and rem sizing by passing the css property and pixel value
@mixin remCalc($property, $pxWidth) {
  #{$property}: ($pxWidth * 1px);
  #{$property}: emCalc($pxWidth);
}

@function emCalc($pxWidth) {
  @return $pxWidth / $base * 1em;
}

@mixin hyphenate() {
 -ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

////// Breakpoint measurements //////
$screen-min-width: emCalc(320);   // 17.777777778; col-xs-#
$screen-480:       emCalc(480);   // 26.666666667
$screen-640:       emCalc(640);   // 35.555555556; col-sm-#
$screen-768:       emCalc(768);   // 42.666666667; col-md-#
$screen-1024:      emCalc(1024);  // 56.888888889; col-lg-#
$screen-1200:      emCalc(1200);  // 66.666666667; col-xl-#

$screen:    "only screen";
$min-480:   "only screen and (min-width: #{$screen-480})";
$min-640:   "only screen and (min-width: #{$screen-640})";
$min-768:   "only screen and (min-width: #{$screen-768})";
$min-1024:  "only screen and (min-width: #{$screen-1024})";
$min-1200:  "only screen and (min-width: #{$screen-1200})";
$landscape: "only screen and (orientation: landscape)";
$portrait:  "only screen and (orientation: portrait)";

// Linear gradients
@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

// Clearfix
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
