////// Typography //////

$headline-stack: "abril-titling-condensed", Georgia, serif;
$body-stack:     "abril-text", Georgia, serif;
$weight-normal:  400;
$weight-bold:    700;

h1,
h2,
h3,
h4 {
  font-family: $headline-stack;
  font-weight: $weight-bold;
  font-style: italic;
  line-height: $line-height;
  margin: 0;
}

body {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $body-stack;
  font-weight: $weight-normal;
  font-style: normal;
}

em     { font-style: italic; }
strong { font-weight: $weight-bold; }

h1 {
  font-size: $font-size-3; 
  margin-bottom: $lead-single;
  line-height: $line-height * 2;
  position: relative;
  top: 4px;
  @include hyphenate;

  a {
    text-decoration: none;
  }
}

h2 { font-size: $font-size-1; }
h3 { font-size: $font-size-1; }

p {
  margin: 0 0 $line-height;
}

small,
.small-text {
  text-transform: uppercase;
  font-size: $font-size-small-1;
  letter-spacing: $font-size / ($scale * 4);
}

.meta-text {
  @extend .small-text;
  text-align: right;
  color: $color-text-light;
  line-height: $line-height;
}