// 42em > 42
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}



////// Color Palette //////

$color-1:  #E7E0B7;
$color-2:  #c4b16f;
$color-3:  #bca46a;
$color-4:  #b49666;
$color-5:  #ac8962;
$color-6:  #a57b5d;
$color-7:  #9d6e59;
$color-8:  #956055;
$color-9:  #8d5350;
$color-10: #85454c;
$color-11: #723948;
$color-12: #5e3043;

.color-1 { color: $color-1; }
.color-2 { color: $color-2; }
.color-3 { color: $color-3; }
.color-4 { color: $color-4; }
.color-5 { color: $color-5; }
.color-6 { color: $color-6; }
.color-7 { color: $color-7; }
.color-8 { color: $color-8; }
.color-9 { color: $color-9; }
.color-10{ color: $color-10; }
.color-11{ color: $color-11; }
.color-12{ color: $color-12; }

$color-background:        #fff;
$color-background-light:  #fbfafb;
$color-text:              #4D2636;
$color-text-light:        #CCBEC4;
$color-link:              #8BB7BE;
$color-link-hover:        #5D929B;

$color-border:            $color-link;

$color-footer:            $color-12;
$color-footer-text:       #DBD8C5;
$color-footer-link:       $color-link;
$color-footer-link-hover: $color-link-hover;

$color-selection:         #fff;
$color-selection-bg:      $color-text;



////// Grid //////

$half-gutter-width:   20px;
$gutter-compensation: -20px;
$outer-margin:        40px;

$grids:               12;
$column-width:        100 / $grids * 1%;

// Changing a 2/3 column to a 1/3 column
$left-inset: $column-width * (100 / $grids);



////// Type Scale //////

$scale: 1.618; // golden ratio
$font-size: 17px;
$base: strip-unit($font-size);
$line-height: round($font-size * $scale);

// 0.618em, 1em, 1.618em, 2.618em, 4.236em
$font-size-05:  $font-size/$scale;
$font-size-1:   $font-size;
$font-size-2:   1.618em;
$font-size-3:   2.618em;
$font-size-4:   4.236em;

// Strips of lead
$lead-half:        $line-height / 2;
.lead-half       { margin-bottom: $line-height / 2; }

$lead-single:      $line-height;
.lead-single     { margin-bottom: $line-height; }

$lead-double:      $line-height * 2;
.lead-double     { margin-bottom: $line-height * 2; }

$lead-triple:      $line-height * 3;
.lead-triple     { margin-bottom: $line-height * 3; }

$lead-quadruple:   $line-height * 4;
.lead-quadruple  { margin-bottom: $line-height * 4; }

$lead-quintuple:   $line-height * 5;
.lead-quintuple  { margin-bottom: $line-height * 5; }



////// Site //////

$transition-out: all 0.1s ease-in-out;
$transition-in:  all 0.1s ease-in-out;

$nav-height: $lead-triple;

$site-border: 4px double $color-border;
.site-border { border-top: $site-border; }