<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="The personal site of product designer Zac Halbert. UX, design, and code.">
  <meta name="author" content="Zac Halbert">

  <script src="//use.typekit.net/lsi2hge.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  
  <link href="/css/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.1/html5shiv.min.js"></script>
  <![endif]-->
  </head>

  <body>
    
    {% include orrry.html %}
    
    <div class="anchor-offset" id="page"></div>
    <div class="site-main">
      
      <div class="nav-wrapper">
        <a href="{{ site.url }}" class="logo" title="{{ site.name }}">
          <img src="images/zachalbert-logo.svg" width="192" height="198" alt="ZacHalbert.com">
        </a>
        <nav class="site-nav" role="navigation">
          <div class="row middle-xs">
            <div class="col-xs-12 col-sm-5 col-md-4">
              <a href="#page" class="link-to-top icon-arrow-up button"></a>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8">
              <div class="link-bank">
                <a href="#">Portfolio</a><a href="#">About</a><a href="#contact">Contact me</a>
              </div>
            </div>
          </div>
        </nav>

        <div class="mask">
          <div class="mask-inner">

            <div class="site-nav-bg">
              <div class="logo-bg">
                <img src="images/zachalbert-logo-bg.svg" width="192" height="198" alt="ZacHalbert.com">
              </div>            
            </div>

          </div>
        </div>
              
      </div>

      <div class="content">
        {{ content }}
      </div>

    </div>

    <footer class="site-footer" role="contentinfo" id="contact">
      <div class="row">

        <div class="col-xs-2 col-sm-offset-3 col-sm-2 col-md-offset-2 col-md-2">
          <div class="social-bank">
            <a href="#" class="icon-twitter button"></a>
            <a href="#" class="icon-dribbble button"></a>
            <a href="#" class="icon-linkedin button"></a>
            <a href="#" class="icon-github button"></a>
            <a href="#" class="icon-mail-filled button"></a>
          </div>
        </div>

        <div class="col-xs-10 col-sm-7 col-md-8">
          <h3>Hire me, please.</h3>
          <p>This is some text about contacting / hiring me</p>
          <form method="post" action="//forms.brace.io/zachalbert@gmail.com">
            <input type="text" placeholder="Your name" name="name">
            <input type="email" placeholder="Your email" name="_replyto">
            <textarea placeholder="Your message" name="message" rows="3"></textarea>
            <input type="hidden" name="_subject" value="New contact" />
            <input type="hidden" name="_next" value="{{  site.url }}/thanks.html" />
            <input type="submit" class="button button-primary" value="Send">
          </form>
          <p>
            Made by <a href="http://www.zachalbert.com/">Zac Halbert</a> in 2014, 
            project and <a href="https://github.com/zachalbert/ios-camera-app-redesign">code</a> 
            licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a>.
          </p>
        </div>

      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/site.min.js"></script>
  </body>
</html>
