<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="The personal site of product designer Zac Halbert. UX, design, and code.">
  <meta name="author" content="Zac Halbert">

  {% capture header %}
  <meta property="og:locale" content="en_US">
  {% if page.title %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ page.title }}">
  {% else %}
  <meta property="og:type" content="Zac Halbert">
  {% endif %}
  {% if site.title %}
  <meta property="og:site_name" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.date %}
  <meta property="article:published_time" content="{{page.date | date_to_xmlschema}}">
  {% endif %}
  {% if site.owner_link %}
  <meta property="article:author" content="{{ site.owner_link }}">
  {% endif %}
  {% endcapture %}{{ header | strip_newlines }}

  <script src="//use.typekit.net/lsi2hge.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  
  <link href="/css/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.1/html5shiv.min.js"></script>
  <![endif]-->
  </head>

  <body>
    {% include orrry.html %}
    
    <div class="anchor-offset" id="page"></div>
    <div class="site-main">
      {% include top-nav.html %}

      <div class="content">
        {{ content }}
      </div>
      
      <a href="#" id="about" class="anchor-offset"></a>
      <section>
        <div class="row">
          <div class="post_side">
            <div class="bio-pic" title="Zac Halbert"></div>
          </div>
          <div class="post_main">
            <p>I'm a dude who does some stuff, and here's a few great folks i've worked with.</p>
            <p>recurly, samagroup, nomnommer, broadly, sharefund, archively</p>
            <p>Interested in working together?<a href="#contact" class="button meta-text text-button">Contact Me</a></p>
          </div>  
        </div>
      </section>

    </div>


    <a href="#" id="contact" class="anchor-offset"></a>
    <footer class="site-footer" role="contentinfo">
        
        <div class="row">
          <div class="col-xs-12">
            <h3>Hire me, <em>please</em>.</h3>
            <p>This is some text about contacting / hiring me</p>
            <form method="post" action="//formspree.io/hi@scouthawk.io" id="contact-form">
              <input class="float-label" type="text" placeholder="Your name" name="name">
              <input class="float-label" type="email" placeholder="Your email" name="email">

              <textarea class="float-label" placeholder="Your message" name="message" rows="3"></textarea>
              <input type="hidden" name="_subject" value="New contact" />
              <input type="hidden" name="_next" value="{{  site.url }}/thanks" />
              <input type="text" name="_gotcha" style="display:none" />
              <input type="submit" class="button button-primary" value="Send">
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="social-bank">
              <a href="#" class="icon-twitter button"></a>
              <a href="#" class="icon-dribbble button"></a>
              <a href="#" class="icon-linkedin button"></a>
              <a href="#" class="icon-github button"></a>
              <a href="#" class="icon-instagram button"></a>
            </div>
            <p>
              Built by <a href="http://www.zachalbert.com/" rel="author">Zac Halbert</a>, 2015. <a href="https://github.com/zachalbert/zachalbert.com_v6">The code for this website</a> is <a href="http://opensource.org/licenses/MIT" target="_blank">MIT licensed</a>.
            </p>
          </div>
        </div>

      </div>
    </footer>

    <script src="/js/site.min.js"></script>    
  </body>
</html>
